// @media (max-width: 1200px) {
// }
@media (max-width: 783px) {


  //button
  .main-nav {
    display: none;
    width: 100%;
    flex-direction: column;
    padding: 5px;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;

    a {
      color: $first-colour;
      filter: brightness(100%);
      margin: 5px 0;

      &:hover {
        filter: brightness(50%);
      }
    }
  }

.product-widget.container{
  position: relative;
  display: flex;
  flex-direction: column;
}

.box-image {
    position: initial;

  }

.box-description {
    position: absolute;
  }

  .product-widget .box-image img {
    position: absolute;
    flex-direction: column;
  }
  .product-widget:nth-child(even) {
  .box-description {
    padding: 0;
  }

// @media (max-width: 400px) {

// }
}
}