@media (max-width: 1200px) {
  .page-title, .page-title-two {
    font-size: 50px;
    letter-spacing: 3px;
  }

  .section-title {
    font-size: 60px;
  }

  .description p {
    font-size: 40px;
  }

    .section-title {
    font-size: 40px;
    letter-spacing: 10px;
  }

  .section-title::after {
    width: 300px;
  }

    .page-title, .page-title-two {
      margin: auto 20%;
  }

  .page-title::after {
    margin-bottom: 2px;
    bottom: -7vw;
  }
}

@media (max-width: 783px) {
  .page-title, .page-title-two {
    font-size: 30px;
  }

  .page-title::after {
    margin-bottom: 2px;
    bottom: -9vw;
  }

  //button
  .main-nav {
    display: none;
    width: 100%;
    height: 20vh;
    flex-direction: column;
    padding: 5px;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;

    a {
      color: $first-colour;
      filter: brightness(100%);
      margin: 5px 0;

      &:hover {
        filter: brightness(50%);
      }
    }
  }

  .navi {
    margin-right: 15%;
    display: block;
  }

  .section-title {
    font-size: 30px;
    letter-spacing: 10px;
  }

  .section-title::after {
    width: 300px;
  }

  // .title-two {
  //   font-size: 50px;
  // }

  .description p {
    font-size: 18px;
    margin: 0;
  }

  #products {
    display: flex;
    flex-direction: column;
  }

  .box-right, .box-left{
    flex: 0 0 auto;
  }

  h3 .name {
    font-size: 20px;
  }

  .page-title, .page-title-two {
      margin: auto 10%;
  }
}

@media (max-width: 400px) {
  .page-title, .page-title-two {
    font-size: 30px;
  }

  .section-title {
    font-size: 26px;
  }

  // .title-two {
  //   font-size: 30px;
  // }

  .description p {
    font-size: 10px;
  }

  h3.name {
    font-size: 15px;
  }

  .page-title, .page-title-two {
    margin: auto 5%;
  }

}
