$first-colour: #fff;
$second-colour: #bea67c;
$third-colour: #000;


$font-text: "Source Sans Pro", sans-serif;

$font-light: 400;
$font-normal: 600;
$font-semibold: 700;
$font-bold: 900;

$transition: all 0.3s;
$radius: 4px;

$base-size: 12px;