.home-wrapper {
  margin: 0;
  max-width: 1920px;
  max-height: 852px;
  width: 100%;
}

.home-widget {
  position: relative;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../../../images/about-us.jpg);
  background-size: cover;
  height: 100vh;
  color: $second-colour;

  div {
    position: absolute;


    .description, .join {
      color: $first-colour;
      font-weight: $font-semibold;
      font-style: italic;
      text-align: left;
      font-size: 35px;

    }

    .description {
      margin-left: 30%;
      width: 45%;
    }

    .join{
      margin-left: 75%;
    }
  }
}